/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

footer {
    background-color: #212529;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: white;
    border-top-width: 5px;
}

.footerp {
    text-align: center;
    color: White;
    font-size: 10px;
}

.footerl {
    text-align: center;
    padding: 3px;
}

.footerico {
    width: "20px";
    height: "20px";

}

.bodym {
    margin-bottom: 150px !important;
    padding-top: 0px !important;
}

.headimg {
    -webkit-filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px -2px 0 white);
    filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px -2px 0 white);
}

#input {
    font-size: 13px;
}