{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1 class="h1">Welcome to Pandas GUI!</h1>
<p class="lead">The final project for CS50 by Ahmad Aalashmony</p>

{% if not username %}
<div style="padding-bottom: 50px;">
    <img src="static/pandas.png" alt="Ahmad Alashmony" width="20%" height="20%" style="margin:10px 0px">
    <h2 class="lead">Playground</h2>
</div>
<p class="lead">To start, you must <a type="button" href="/upload" class="btn btn-dark">upload your dataset</a></p>
{% endif %}
<h2>{{ notification }}</h2>

<!--
{% if username %}
<table class="table table-striped">
    <tr>
        <th>Username</th>
        <th>Cash</th>
        <th>Total Stocks</th>
        <th>Total Wealth</th>
    </tr>
    <tr width="25%" height="25%">
        <td>{{ username }}</td>
        <td>{{ cash }}</td>
        <td>{{ total_stocks }}</td>
        <td>{{ portfolio }}</td>
    </tr>
</table>
{% endif %}-->


{% endblock %}