{% extends "layout.html" %}

{% block title %}
Manipulate data
{% endblock %}

{% block main %}
{% if file %}

<script>
    function getMethodDescription(descriptions) {

        var selectElement = document.getElementById("choose_method").value;

        // Update the description based on the selected value
        document.getElementById("method_description").innerHTML = descriptions[selectElement]["description"];
        document.getElementById("method_args").innerHTML = descriptions[selectElement]["args"];
    }
</script>

<h1 class="h1">To manipulate data, choose the steps you need to do</h1>
<table class="table table-striped">
    <tr>
        <th>Function</th>
        <th>Arguments</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>
            <div>
                <select id="choose_method" class="custom-select" onchange="getMethodDescription( {{ descriptions }})">
                    {% for method_ in methods_ %}
                    <option value={{ method_ }}>{{ method_ }}</option>
                    {% endfor %}
                </select>
            </div>
        </td>
        <td>
            <p class="lead" id="method_args"></p>
        </td>
        <td style="font-size: 10px !important;" id="method_description">
        </td>
    </tr>
</table>
{% if rows and columns %}
<table class="table table-dark table-striped table-hover">
    <tr>
        {% for column in columns %}
        <th>{{ column }}</th>
        {% endfor %}
    </tr>
    {% for row in rows %}
    <tr>
        {% for column in columns %}
        <td>{{ row[column] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% else %}

{% if error %}
<p class="lead" style="color: red">{{ error }}</p>
{% endif %}

{% endif %}
{% endblock %}