{% extends "layout.html" %}

{% block title %}
Upload dataset
{% endblock %}

{% block main %}
<h1 class="h1">Upload your dataset to start</h1>
<p class="lead" style="margin-bottom: 50px;">Only CSVs and Excel files (both XLSX and XLS) are acceptable currently</p>

<div>
    <form action="/upload" method="post">
        <div class="mb-3">
            <input autofocus class="form-control mx-auto w-auto" name="file_location" placeholder="File"
                accept=".csv .xlsx .xls" type="file">
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
</div>
{% endblock %}